:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --headings-herobackground-color: #2e2f42;
  --body-text-color: #434455;
  --background-color: #ffffff;
  --light-background-color: #f4f4fd;
  --accent-color: #e7e9fc;
}

/* ================MAIN PAGE================ */
body {
  font-family: "Roboto", sans-serif;
  color: var(--headings-herobackground-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ================GENERAL STYLES================ */

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.contact-mail:hover,
.contact-mail:focus,
.contact-mail:active,
.contact-number:hover,
.contact-number:focus,
.contact-number:active {
  color: var(--pressed-state-color);
}

.page-header {
  border-bottom: 1px solid var(--accent-color);
}

.mobile-menu {
  max-height: 1100px;
}

.section-hero {
  margin: 0 auto;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 767px;
  height: 432px;
  background-color: var(--headings-herobackground-color);
}

.main-heading {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  color: var(--background-color);
}

.main-btn {
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--pressed-state-color);
}

.hidden-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--headings-herobackground-color);
  text-align: center;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-herobackground-color);
}

.section-text {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--body-text-color);
}

.section-doing {
  display: none;
}

.section-team {
  background-color: var(--light-background-color);
}

.card-description {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item {
  width: 264px;
}

.team-list .team-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.card-description > .section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-herobackground-color);
  text-align: center;
}

.card-description > .section-text {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;

  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--headings-herobackground-color);
}

.name-studio-footer {
  color: var(--light-background-color);
}

.name-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.social-media {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--background-color);
}

.footer-email {
  width: 398px;
  height: 40px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--headings-herobackground-color);
}

.btn-subscribe {
  position: relative;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  padding: 8px 64px 8px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  margin: 0 auto;
}

.subscribe-logo {
  position: absolute;
  top: 10px;
  right: 24px;
}

.social-media-footer > .social-list {
  gap: 16px;
}

.customers-item {
  margin: 0;
}

/* ================GENERAL STYLES END================ */

/* ================HEADER MOBILE================ */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

.burger-icon {
  stroke: var(--headings-herobackground-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
}

.name-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-brand-color);
}

.name-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--headings-herobackground-color);
}

.text-footer {
  max-width: 100%;
  width: 268px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ================RESPONSIVE styles================ */

/* @media screen and (max-width: 376px) {
  .mobile-menu {
    max-height: 1000px;
  }

  .mobile-menu-content > .social-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 427px) {
  .customers-item {
    margin: 0 auto;
  }
} */

/* ================480-... styles================ */
@media screen and (min-width: 480px) {
  .menu {
    display: none;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;

    background-color: var(--background-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;

    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .mobile-menu-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close:hover .modal-close-icon {
    fill: var(--background-color);
  }

  .contact-mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
  }

  .contact-number:is(:hover, :focus),
  .contact-mail:is(:hover, :focus) {
    color: var(--primary-brand-color);
  }

  .mobile-menu-content > .social-list {
    margin-right: 60px;
  }

  .mobile-social-list .social-list-item + .social-list-item {
    margin-left: 56px;
  }

  .modal-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-herobackground-color);
  }

  .modal-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .address-modal {
    display: block;
    font-style: normal;
  }

  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-item:last-child {
    margin-bottom: 284px;
  }

  .advantages-logo {
    display: none;
  }

  .section-team {
    padding-top: 96px;
    padding-bottom: 128px;
  }

  .team-item {
    margin: 0 auto;
  }

  .card-description > .social-list {
    margin-bottom: 0;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .text-footer {
    margin: 0 auto;
    text-align: left;
  }

  .text-footer,
  .social-list {
    margin-bottom: 72px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
  screen and (min-resolution: 288dpi) and (max-width: 767px),
  screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg@3x.jpg);
  }
}

/* ================480-767================ styles */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  address {
    display: none;
  }

  .contact-number {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;

    color: var(--body-text-color);
  }

  .mobile-number {
    margin-bottom: 40px;
  }

  .mobile-mail {
    margin-bottom: 48px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-list .team-item + .team-item {
    margin-top: 72px;
  }

  .customers-item:nth-child(odd) {
    margin-right: 16px;
  }

  .customers-item:nth-child(-n + 4) {
    margin-bottom: 72px;
  }

  .footer-general {
    text-align: center;
  }

  .btn-subscribe {
    margin-top: 16px;
  }
}

/* ================768-...================ styles */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu .menu-item + .menu-item {
    margin-left: 40px;
  }

  .menu-link.current {
    color: var(--primary-brand-color);
  }
  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: var(--headings-herobackground-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    opacity: 1;
  }

  .contact-mail,
  .contact-number {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    font-style: normal;
    color: var(--body-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-hero {
    margin: 0 auto;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1199px;
    height: 436px;
    background-color: var(--headings-herobackground-color);
  }

  .main-heading {
    width: 496px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
    color: var(--background-color);
  }

  .advantages-logo {
    display: none;
  }

  .section-subtitle {
    text-align: left;
  }

  .list-advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .section-team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-link {
    width: 168px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .text-footer {
    width: 264px;
  }

  .form {
    display: flex;
    gap: 24px;
  }

  .footer-email {
    width: 264px;
  }

  .footer-general {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
  }

  .social-media-footer {
    margin-left: 24px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
  screen and (min-resolution: 288dpi) and (min-width: 768px),
  screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg@3x.jpg);
  }
}
/* ================768-1199 styles================ */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-item {
    max-width: 356px;
  }

  .advantages-item:nth-child(odd) {
    margin-right: 24px;
  }

  .advantages-item:first-child,
  .advantages-item:nth-child(2) {
    margin-bottom: 72px;
  }

  .team-item:nth-child(odd) {
    margin-right: 24px;
  }

  .team-item:first-child,
  .team-item:nth-child(2) {
    margin-bottom: 64px;
  }

  .customers-item:not(:nth-child(3n + 3)) {
    margin-right: 24px;
  }

  .customers-item:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
}

/* ================1200-... styles================ */

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header {
    display: flex;
  }

  .page-header-container {
    justify-content: flex-start;
  }

  address {
    margin-left: auto;
  }

  .page-nav .list {
    margin-left: 76px;
  }

  .menu-link {
    padding-bottom: 28px;
  }

  .contact-mail,
  .contact-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info {
    display: flex;
  }

  .contact-info .menu-item + .menu-item {
    margin-left: 40px;
  }

  .section-hero {
    margin: 0 auto;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 600px;
    background-color: var(--headings-herobackground-color);
  }

  .main-heading {
    margin-bottom: 48px;
  }

  .section-advantages {
    padding: 120px 0;
  }

  .section-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }

  .section-text {
    font-weight: 400;
  }

  .advantages-item {
    width: 264px;
  }

  .list-advantages {
    margin: 0 auto;
  }

  .list-advantages .advantages-item + .advantages-item {
    margin-left: 24px;
  }

  .advantages-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light-background-color);
  }

  .section-doing {
    display: block;
    padding-top: 0;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .team-list {
    gap: 24px;
  }

  .customers-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .social-media-footer {
    margin-left: 120px;
  }

  .subscribe-footer {
    margin-left: 80px;
  }

  .footer-general {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
  screen and (min-resolution: 288dpi) and (min-width: 1200px),
  screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@3x.jpg);
  }
}

/* ================MODAL================ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--background-color);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-notice {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: var(--headings-herobackground-color);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-input-descr {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-input:focus + .modal-name-icon,
.modal-form-input:focus + .modal-phone-icon,
.modal-form-input:focus + .modal-email-icon {
  fill: var(--primary-brand-color);
}

.modal-form-input-descr {
  display: block;
  width: 100%;
}

.modal-name,
.modal-phone,
.modal-email {
  display: block;
  position: relative;
}

.modal-name-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-phone-icon,
.modal-email-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  resize: none;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;

  border-color: var(--primary-brand-color);
}

.modal-form-message::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-descr {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-checkbox-descr::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--headings-herobackground-color);
  border-radius: 2px;
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-descr::before {
  background-image: url(../images/checkbox-icon.svg);
  background-color: var(--pressed-state-color);
  background-size: cover;
  border: 1.25px solid var(--pressed-state-color);
  border-radius: 2px;
}

.modal-form-checkbox:focus + .modal-form-checkbox-descr::before {
  border: 1.25px solid var(--pressed-state-color);
}

.privacy-policy-text {
  text-decoration: underline;
  color: var(--primary-brand-color);
}

.modal-submit-btn {
  width: 169px;
  height: 56px;
  align-self: center;
  color: var(--background-color);
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*================portfolio.html================ */
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item + .filter-item {
  margin-left: 24px;
}

.filter-btn {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-background-color);
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--background-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-description-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-item {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px 164px;

  color: var(--light-background-color);
  background-color: var(--primary-brand-color);
  background-image: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(4);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translate(0, 0);
}

.team-list-wrapper {
  position: relative;
  overflow: hidden;
}
